h1 {
    text-align:center;
    background-color: aqua;
}
h3{
    background-color: blue;
}

p {
    text-align: center;
    font-size: medium;
}
strong {
    font-size: larger;
}

body {
    background-color: blueviolet;
}
.isalinda {
    background-color: aqua
    color: blueviolet
}
.isabonita {
    background-color: white
}

font-style: italic

.lista {
        display: inline-block;h1
        padding: 5%;
        margin-right: 10%;
    }
